body {
max-width: 768px;
height: 800px;
background-color: #e6e6e6ae;
margin: auto;
padding: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
    list-style: none;
    align-items: center;
}

/*========================================
  ヘッダー
========================================*/
header{
    width: 305px;
}

header h1 {
    color: #0044ff;
    float: left;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.fa-solid {
    color: #004cff;
    text-shadow: 1px 1px 3px #000;
    text-decoration: none;
    margin: 5px 5px 5px 0px;
    font-size: 25px;
}
header h1 a {
    color: #004cff;
    text-decoration: none;
    text-shadow: 1px 1px 3px #000;
}

.top-width {
    justify-content: space-between;
    display: flex;
    font-size: 18px;
    padding: 5px;
    margin: 5px 38px 5px 13px;
}

.item-width {
  width: 270px;
  padding: 5px;
  margin-left: 5px;
}

.item-wrap {
    display: flex;
    padding: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.item-btn{
    color: black;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    height: 25px;
    width: 22px;
    border-radius: 4px;
    box-shadow: 1px 2px 3px #000;
}

.item-btn:hover {
    opacity: 0.5;
}

.item-name{
    color: black;
    font-size: 19px;
    font-weight: bold;
    padding-left: 10px;
}

.item-photo .img {
width: 80%;
}

.item-photo {
  margin-bottom: 20px;
}

.item, .detail_1, .detail_1{
    font-size: 9px;
  margin-bottom: 20px;
  text-align: left;
}

/*========================================
  予約　コンテンツ
========================================*/

.site-form {
    position: sticky;
        top: 50px;
        left: 50px;
    max-width: 360px;
    max-height: 670px;
    background-color: rgb(0, 85, 255);
    display: flex;
    margin: 10px 5px 10px;
    border-radius: 4px;
    box-shadow: 1px 2px 3px #000;
}

.panel-title {
    padding: 0;
    margin: 0;
}

.panel-list {
    overflow: hidden;
}

.panel-list a {
    background-color: white;
}

.panel-top {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin: 30px 20px 30px;
}

.panel-list>.panel {
    color: #333;
    text-decoration: none;
    line-height: 1.2em;
}

a.panel:hover {
    text-decoration: underline;
}

.panel-list>.panel img {
    width: 100%;
}

.panel-title_sub {
    font-size: 10px;
    padding: 0;
    margin: 0;
}

.panel-body {
    margin: 15px 10px 5px;
}

.panel-body .time {
  width: 340px;
  height: 25px;
}

.panel-body .count{
  width: 340px;
  height: 25px;
}

.panel-detail {
    background-color: rgb(0, 115, 255);
    color: #fff;
    width: 320px;
    padding: 10px;
    border-radius: 4px;
    margin: 20px 10px 10px;
}

.panel-detail p{
  font-size: 10px;
  margin: 2px;
}

.submit {
    background-color: #0022ff;
    color: #fff;
    width: 360px;
    height: 45px;
    text-align: center;
    border: none;
    margin-top: 60px;
    border-radius: 4px;
}

.submit:hover {
    opacity: 0.7;
}